@font-face {
    font-family: 'Merriweather';
    src: url('assets/fonts/Merriweather/Merriweather-Regular.ttf'), url('assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-light';
    src: url('assets/fonts/Merriweather/Merriweather-Light.ttf'), url('assets/fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    font-family:'Merriweather';
    color: #C9CACC;
}
a, a:hover, a:visited, a:active  {
    text-decoration: none;
}

.header {
    box-sizing: border-box;
    position: fixed;
    padding: 5%;
    padding-top: 10%;
    width: 40%;
    overflow: hidden;
    /* border: 1px solid white; */
}
.header * {
    margin: 1.5% 0%;
}
h1 {
    font-size: 36px;
    letter-spacing: .125rem;
}
h3 {
    line-height: 1.5em;
}
.header img {
    width: 35px;
    /* box-sizing: border-box;
    border: 1px solid white; */
}
#li img {
    margin-left: 4px;
}
#res {
    width: 33px;
    padding-bottom: 1px;
}

