@font-face {
    font-family: 'Merriweather';
    src: url('assets/fonts/Merriweather/Merriweather-Regular.ttf'), url('assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-light';
    src: url('assets/fonts/Merriweather/Merriweather-Light.ttf'), url('assets/fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    font-family:'Merriweather';
}
a, a:hover, a:visited, a:active  {
    text-decoration: none;
}

#home * {
    color: #eeefe9;
}
#aboutme * {
    color: #091C26;
}

.header {
    box-sizing: border-box;
    position: fixed;
    padding: 5%;
    padding-top: 10%;
    width: 40%;
    overflow: hidden;
    min-width: 500px;
    max-width: 800px;
    /* border: 1px solid white; */
}
.header * {
    margin: 0% 0% 4% 0%;
}
#intro {
    white-space: nowrap;
}
h2 {
    font-size: 36px;
    letter-spacing: .125rem;
}
h3 {
    line-height: 1.5em;
    letter-spacing: .0625rem;
}
#name:hover {
    border-bottom: 3px solid #eeefe9;
}
.header img {
    width: 35px;
}
#li img {
    margin-left: 14px;
}
#res img {
    margin-left: 10px;
}
#res {
    width: 33px;
    padding-bottom: 1px;
}
#email-row {
    * {
        display: inline-block;
    }
    img {
        float: left;
        padding-right: 15px;
    }
    #email {
        padding-top: 2px;
    }
}
#email-row:hover {
    #email {
        border-bottom: 2px solid #eeefe9;
    }
}

/* Photo of Me */
#photo {
    position: fixed;
    max-height: 70vh;
    max-width: 33%;
    top: 50%;
    transform: translate(0, -50%);
    right: 7%;
}

/* Scroll Down for Projects Button */
#scroll-down {
    box-sizing: border-box;
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%, 0);
    /* border: 1px solid white; */
}
#scroll-down h3 {
    padding-bottom: 5%;
}
#down-arrow {
    display: block;
    margin: auto;
    max-width: 50px;
    /* border: 1px solid white; */
}

/* About Me */
h1 {
    font-size: 50px;
}
#aboutme-title {
    padding-top: 5%;
    text-align: center;
}
#back {
    position: fixed;
    width: 30px;
    margin: 20px 0 0 20px;
}

/* Desktop */
@media only screen and (min-width:760px) {

}
/* Tablet */
@media only screen and (max-width:800px) {

    /* INDEX */
    .header {
        padding-top: 12%;
        width: 92%;
        max-width: 500px;
        margin: auto;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    }
    
    #photo {
        display: none;
    }
}


