@font-face {
    font-family: 'Merriweather';
    src: url('assets/fonts/Merriweather/Merriweather-Regular.ttf'), url('assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-light';
    src: url('assets/fonts/Merriweather/Merriweather-Light.ttf'), url('assets/fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    font-family:'Merriweather';
    color: #C9CACC;
}
a, a:hover, a:visited, a:active  {
    text-decoration: none;
}

.header {
    box-sizing: border-box;
    position: fixed;
    padding: 5%;
    padding-top: 10%;
    width: 40%;
    overflow: hidden;
    /* border: 1px solid white; */
}
.header * {
    margin: 0% 0% 4% 0%;
}
h1 {
    font-size: 36px;
    letter-spacing: .125rem;
}
h3 {
    line-height: 1.5em;
    letter-spacing: .0625rem;
}
.header img {
    width: 35px;
}
#li img {
    margin-left: 14px;
}
#res img {
    margin-left: 10px;
}
#res {
    width: 33px;
    padding-bottom: 1px;
}
#email-row {
    * {
        display: inline-block;
    }
    img {
        float: left;
        padding-right: 15px;
    }
    h3 {
        padding-top: 2px;
    }
}

/* Desktop */
@media only screen and (min-width:760px) {

}

/* Tablet */
@media only screen and (max-width:760px) {

    /* INDEX */
    /* .header {
        padding-top: 12%;
        width: 90%;
        margin: auto;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    } */
}


